{% extends "realtdb/base.html" %}
{% block list %}
<h2>List of known houses</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>{{ form.address.label }}</th>
        <th>{{ form.area.label }}</th>
        <th>{{ form.price.label }}</th>
        <th>Realtor</th>
    </tr>
    </thead>
    <tbody>
    {% for house in objects %}
        <tr>
            <td>{{ house.address }}</td>
            <td>{{ house.area }}</td>
            <td>{{ house.price }}</td>
            <td>{{ house.realtor.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}