{% extends "realtdb/base.html" %}
{% block list %}
<h2>List of known offices</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>{{ form.address.label }}</th>
        <th>{{ form.area.label }}</th>
        <th>{{ form.price.label }}</th>
        <th>Realtor</th>
        <th>{{ form.business_centre.label }}</th>
    </tr>
    </thead>
    <tbody>
    {% for office in objects %}
        <tr>
            <td>{{ office.address }}</td>
            <td>{{ office.area }}</td>
            <td>{{ office.price }}</td>
            <td>{{ office.realtor.name }}</td>
            <td>{{ office.business_centre }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}