{% extends "base.html" %}

{% block content %}
    <h1>Directory of houses</h1>
    <form action="." method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <p><input type="submit" value="Add to list"/></p>
    </form>
    <h2>List of known houses</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Address</th>
            <th>Area (m<sup>2</sup>)</th>
            <th>Price</th>
            <th>Realtor</th>
        </tr>
        </thead>
        <tbody>
        {% for house in house_list %}
            <tr>
                <td>{{ house.address }}</td>
                <td>{{ house.area }}</td>
                <td>{{ house.price }}</td>
                <td>{{ house.realtor.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}

